beautifulsoup4==4.5.1
chardet==2.3.0
click==6.6
cssselect==1.0.0
feedparser==5.2.1
Flask==0.11.1
Flask-Login==0.4.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
pycurl==7.43.0
pyparsing==2.1.10
pyquery==1.2.17
pyspider==0.3.8
requests==2.11.1
robobrowser==0.5.3
six==1.10.0
tornado==4.4.2
u-msgpack-python==2.3.0
Werkzeug==0.11.11
